<%- include("_header") -%>

<h1>Reports</h1>
<h4>Select Report</h4>

<div class="container">
  <form class="form-horizontal" action="/reports" method="post">
    <% if(value === "1") {%>
        <div class="form-group form-inline">
            <select id="sort-item" class="mdb-select md-form colorful-select dropdown-primary" name="valueOption">    
                <option name="valueOption" value="1" selected>All Customers - Sorted by Customer Last Name, First Name</option>
                <option name="valueOption" value="2">All Customers - Sorted by Current Total Sales Decreasing</option>
                <option name="valueOption" value="3">Three Random Customers - Promotional Giveaway(Not Repeating)</option>
            <select>
        </div>
    <% } else if (value === "2") { %>
        <div class="form-group form-inline">
            <select id="sort-item" class="mdb-select md-form colorful-select dropdown-primary" name="valueOption">    
                <option name="valueOption" value="1">All Customers - Sorted by Customer Last Name, First Name</option>
                <option name="valueOption" value="2" selected>All Customers - Sorted by Current Total Sales Decreasing</option>
                <option name="valueOption" value="3">Three Random Customers - Promotional Giveaway(Not Repeating)</option>
            <select>
        </div>  
    <% }else if (value === "3") { %>
        <div class="form-group form-inline">
            <select id="sort-item" class="mdb-select md-form colorful-select dropdown-primary" name="valueOption">    
                <option name="valueOption" value="1">All Customers - Sorted by Customer Last Name, First Name</option>
                <option name="valueOption" value="2">All Customers - Sorted by Current Total Sales Decreasing</option>
                <option name="valueOption" value="3" selected>Three Random Customers - Promotional Giveaway(Not Repeating)</option>
            <select>
        </div>  
    <% }  else { %>
         <div class="form-group form-inline">
            <select id="sort-item" class="mdb-select md-form colorful-select dropdown-primary" name="valueOption">    
                <option name="valueOption" value="1" selected>All Customers - Sorted by Customer Last Name, First Name</option>
                <option name="valueOption" value="2">All Customers - Sorted by Current Total Sales Decreasing</option>
                <option name="valueOption" value="3">Three Random Customers - Promotional Giveaway(Not Repeating)</option>
            <select>
        </div>  
    <% } %>
    <div class="form-group form-inline" style="display: flex; margin-left: 200px;">
        <div class="col-sm-offset-10 col-xs-3">
            <input type="submit" value="Run Report" class="btn btn-primary"/>
        </div>
    </div>
  </form>
</div>

<% if(show === true) { %>
    <div class="table-responsive-sm">
        <table class="table table-hover">
            <% if(value === "3") { %>
                <h1>The three Lucky Winners are:</h1>
             <% } %>   
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>State</th>
                    <th>Sales YTD</th>
                    <th>Prev Years Sales</th>
                </tr>
            </thead>
            <tbody>
                <% for (const customer of data) { %>
                    <tr>
                        <td><%= customer.cusid %></td>
                        <td><%= customer.cusfname %></td>
                        <td><%= customer.cuslname %></td>
                        <td><%= customer.cusstate %></td>
                        <td><%= customer.cussalesytd %></td>
                        <td><%= customer.cussalesprev %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
<% } %>

<% if(show === false && status !== "") { %>
    <h2><%= status %></h2>
<% } %>

<%- include("_footer") -%> 